$color-black: #000000;

$bp-medium: 50em; // 800px

.card {
  height: 80vh;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__event-info {
    width: 30%;
    margin-right: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      width: 80%;
      margin-right: 0;
    }
  }

  &__calendar {
    width: 50%;

    @media only screen and (max-width: $bp-medium) {
      width: 80%;
    }
  }

  &__content {
    padding: 3rem;
  }
}
