$color-blue: #3fa2f8;
$color-black: #000000;
$color-white: #ffffff;

.homepage {
  width: 100%;
  margin-top: 5vw;

  display: flex;
  justify-content: center;
}

.card {
  &__logo {
    width: 8rem;
    height: 4rem;
    margin-top: 2rem;
  }

  &__company-name {
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  &__event-name {
    margin-top: 0.7rem;
    font-size: 2.5rem;
  }

  &__form-input--select {
    background: none;
    background-color: $color-white;
    font-size: 1.4rem;
    padding: 20px 20px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    padding-right: 15rem;
    height: 4rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__event-details {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    &-row {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-icon-container {
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      font-size: 1.7rem;
    }
  }

  &__event-description {
    font-size: 1.9rem;
  }

  &__calendar-content {
    &-container {
      padding-top: 3rem;

      display: flex;
    }

    &-days {
      width: 60%;
      color: rgba($color-black, 0.7);
      cursor: pointer;

      &-grid {
        padding-top: 2rem;
        padding-right: 3rem;

        display: grid;
        grid-template-columns: repeat(7, [col-start] 1fr [col-end]);
        justify-items: center;
        align-items: center;
        height: 80%;

        &--day {
          width: 85%;
          height: 70%;
          border-radius: 10rem;
          font-size: 1.2rem;

          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgba($color-blue, 0.2);
          }

          &:active {
            color: $color-white;
            font-weight: bold;
            background-color: $color-blue;
          }

          &-name {
            font-weight: bold;
          }
        }
      }
    }

    &-timezone {
      margin-top: 2rem;

      display: flex;
      align-items: center;
    }

    &-hours {
      width: 20%;
    }

    &-title {
      font-size: 1.4rem;

      display: flex;
      justify-content: space-between;

      &-arrows {
        font-size: 1.4rem;
        font-weight: bold;

        display: flex;

        &--left-arrow {
          padding-right: 4rem;
          cursor: pointer;
        }

        &--right-arrow {
          padding-right: 3rem;
          cursor: pointer;
          color: $color-blue;
        }
      }
    }
  }
}
