$color-blue: #3fa2f8;
$color-black: #000000;
$color-white: #ffffff;

.card {
  &__form-input--select {
    background: none;
    background-color: $color-white;
    font-size: 1.4rem;
    padding: 20px 20px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    padding-right: 15rem;
    height: 4rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__calendar-content {
    &-container {
      padding-top: 3rem;
      height: 60vh;

      display: flex;
    }

    &-days {
      width: 60%;
      color: rgba($color-black, 0.7);
      cursor: pointer;
    }

    &-icon-container {
      width: 2rem;
      height: 2rem;
      margin-right: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      font-size: 1.7rem;
      color: rgba($color-black, 0.6);
    }

    &-timezone {
      margin-top: 2rem;

      display: flex;
      align-items: center;
    }

    &-title {
      font-size: 1.4rem;

      display: flex;
      justify-content: space-between;

      &-arrows {
        font-size: 1.4rem;
        font-weight: bold;

        display: flex;

        &--left-arrow {
          padding-right: 4rem;
          cursor: pointer;
        }

        &--right-arrow {
          padding-right: 3rem;
          cursor: pointer;
          color: $color-blue;
        }
      }
    }
  }
}
